{% extends 'store/base.html' %}
{% load customfunction %}
{% block container %}
    <div class="container mt-4">
        <div class="row">
            {% for item in book %}
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="book-wrapper text-center">
                    <div class="coverpage mb-2">
                        <img src="{{ item.coverpage.url }}" class="img-fluid" alt="{{ item.name }} cover">
                    </div>
                    <a href="{% url 'store:book' id=item.id %}" class="d-block mb-1">{{ item.name }}</a>
                    <a href="{% url 'store:writer' id=item.writer.id %}" class="d-block mb-1">{{ item.writer }}</a>
                    <div class="rating mb-2">
                        {{ item.totalrating|averagerating:item.totalreview }}
                        <span class="totalrating">{{ item.totalreview|add:-1 }}</span>
                    </div>
                    <p class="mb-2">₱{{ item.price }}</p>
                    <button class="btn btn-danger w-100" id="addTocart" data-book-id="{{ item.id }}">
                        <i class="fa fa-shopping-cart"></i> Add to cart
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>

        {% if book|length > 0 %}
        <div class="d-pagination mt-4">
            <ul class="pagination justify-content-center">
                {% if book.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ book.previous_page_number }}">Previous</a>
                </li>
                {% endif %}
                {% for ord in book.paginator.page_range %}
                {% if book.number == ord %}
                <li class="page-item active">
                    <span class="page-link">{{ ord }}
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
                {% elif ord > book.number|add:'-3' and ord < book.number|add:'3' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ ord }}">{{ ord }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if book.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ book.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ book.paginator.num_pages }}">Last</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% else %}
        <h3 class="text-center mt-5">There are no books found.</h3>
        {% endif %}
    </div>
{% endblock %}
