{% extends 'store/base.html' %}
{% load static %}
{% load customfunction %}
{% block headermenu %}{% endblock %}

{% block container %}
<div class="container mt-4">
    <!-- Slider Section -->
    <div class="row mb-4">
        <div class="col-12">
            <div class="slider-container">
                <ul id="demo3" class="list-unstyled">
                    {% for sld in slide %}
                    <li><img src="{{ sld.slideimg.url }}" class="img-fluid" alt="Slide image"/></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- New Published Books Section -->
    <div class="row mb-4">
        <div class="col-12">
            <div class="titleheader d-flex justify-content-between align-items-center">
                <h3 class="h2header mb-0">New Published Books</h3>
                <a href="#" class="btn btn-link">See All</a>
            </div>
            <div class="slider-container mt-3">
                <div class="regulara sliderzx">
                    {% for item in newbooks %}
                    <div class="book-wrapper text-center">
                        <div class="coverpage">
                            <img src="{{ item.coverpage.url }}" class="img-fluid" alt="{{ item.name }}"/>
                        </div>
                        <a href="{% url 'store:book' id=item.id %}" class="d-block mt-2">{{ item.name|text_short }}</a>
                        <a href="{% url 'store:writer' id=item.writer.id %}" class="d-block mb-2">{{ item.writer }}</a>
                        <div class="rating mb-2">
                            {{ item.totalrating|averagerating:item.totalreview }}
                            <span class="totalrating">{{ item.totalreview|add:-1 }}</span>
                        </div>
                        <p class="mb-2">₱{{ item.price }}</p>
                        <button class="btn btn-danger w-100" id="addTocart" data-book-id="{{ item.id }}">
                            <i class="fa fa-shopping-cart"></i> Add to cart
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Top Selling Books Section -->
    <div class="row mb-4">
        <div class="col-12">
            <div class="titleheader d-flex justify-content-between align-items-center">
                <h3 class="h2header mb-0">Top Selling Books</h3>
            </div>
            <div class="slider-container mt-3">
                <div class="regulara sliderzx">
                    {% for p in top_selling_books %}
                    <div class="book-wrapper text-center">
                        <div class="coverpage">
                            <img src="{{ p.coverpage.url }}" class="img-fluid" alt="{{ p.name }}"/>
                        </div>
                        <a href="{% url 'store:book' id=p.id %}" class="d-block mt-2">{{ p.name|text_short }}</a>
                        <a href="{% url 'store:writer' id=p.writer.id %}" class="d-block mb-2">{{ p.writer }}</a>
                        <div class="rating mb-2">
                            {{ p.totalrating|averagerating:p.totalreview }}
                            <span class="totalrating">{{ p.totalreview|add:-1 }}</span>
                        </div>
                        <p class="mb-2">₱{{ p.price }}</p>
                        <button class="btn btn-danger w-100" id="addTocart" data-book-id="{{ p.id }}">
                            <i class="fa fa-shopping-cart"></i> Add to cart
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
